{% extends "admin/master.html" %}

{% from "macro/modal.html" import add_modal_button,add_modal_window %}

{% do _template.plugin_manager.enable_plugin("modal") %}

{% block title %}show 2fa{% endblock %}

{% block main %}
    <div>
        Two-Factor Authentication (2FA) is currently <b>enabled</b> for your account.
    </div>
    <div>
        {{ add_modal_button(url=get_url('.verify_tfa',modal=True,action=url_for('.enable_tfa',enable=False) ), title=gettext('Disable 2FA'),
        content=gettext('Disable 2FA')) }}
        {{ add_modal_window() }}
    </div>
    <div>
        recover codes can be used if you lose access to your authenticator app.
        <a href="{{ url_for('.recovery_codes') }}">View Recovery Codes</a>
    </div>
{% endblock %}
