{% macro export_options(export_types) %}
    {% if export_types|length > 1 %}
        <li class="dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ gettext('Export') }}</a>
            <div class="dropdown-menu">
                {% for export_type in export_types %}
                    <a class="dropdown-item" href="{{ url_for('.export', export_type=export_type, **request.args) }}" title="{{ gettext('Export') }}">{{ gettext("Export") + ' ' + export_type|upper }}</a>
                {% endfor %}
            </div>
        </li>
    {% else %}
        <li>
            <a class="nav-link" href="{{ url_for('.export', export_type=export_types[0], **request.args) }}" title="{{ gettext('Export') }}">{{ gettext('Export') }}</a>
        </li>
    {% endif %}
{% endmacro %}

{% macro filter_options(filter_groups) %}
    <div class="dropdown">
        <button class="nav-link dropdown-toggle" data-toggle="dropdown">{{ gettext("Add Filter") }}</button>
        <div class="dropdown-menu field-filters">
            {% for k in filter_groups %}<a href="#" class="dropdown-item filter" onclick="return false;">{{ k }}</a>{% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro page_size_form(generator, page_size,page_size_options) %}
    <div class="dropdown">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ page_size }} {{ gettext("items") }}</button>
        <ul class="dropdown-menu">
            {% for option in page_size_options %}
                <li>
                    <a class="dropdown-item{% if page_size == option %} active{% endif %}" href="{{ generator(option) }}">{{ ngettext('{} item'.format(option) , '{} items'.format(option), option) }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endmacro %}
