{% extends "admin/master.html" %}
{% from "macro/icon.html" import render_icon %}
{% from "macro/pagination.html" import render_pager, render_simple_pager %}
{% from "macro/layout.html" import filter_options, page_size_form, export_options %}
{% from "macro/modal.html" import add_modal_button,add_modal_window %}
{% from "macro/form.html" import render_form_fields %}

{% do _template.plugin_manager.enable_plugin(["modal","filters","select2","form","xeditor","daterangepicker","moment"]) %}

{% set actions = view.get_list_actions() %}
{% set row_actions = view.get_row_actions() %}
{% set filter_groups = view.get_filter_groups() %}

{% if actions %}
  {%- do _template.plugin_manager.enable_plugin(['list_action']) -%}
{% endif %}

{% macro link(action, url) %}
  <a class="icon" href="{{ url }}" title="{{ action.title }}">{{ render_icon(action.icon) }}</a>
{% endmacro %}

{% macro delete_row(action, row_id, row) %}
  <form class="icon" method="post" action="{{ url_for('.delete_view') }}">
    {% set delete_form = view.delete_form(id=view.get_pk_value(row)) %}
    {{ render_form_fields(delete_form) }}
    <button onclick="return confirm('{{ action.confirm }}');" title="{{ action.title }}">{{ render_icon(action.icon) }}</button>
  </form>
{% endmacro %}

{% macro render_row_action(action, row_id, row) %}
  {%- if action.type == 'link' %}
    {{ link(action, action.get_url(row_id,row) ) }}
  {%- elif action.type == 'view_row' -%}
    {{ link(action, url_for('.details_view', id=row_id, url=return_url) ) }}
  {%- elif action.type == 'view_row_popup' -%}
    {{ add_modal_button(url=url_for('.details_view', id=row_id, url=return_url, modal=True) , title=action.title, content=render_icon(action.icon)) }}
  {%- elif action.type == 'edit_row' -%}
    {{ link(action, url_for('.edit_view', id=row_id, url=return_url) ) }}
  {%- elif action.type == 'edit_row_popup' -%}
    {{ add_modal_button(url=url_for('.edit_view', id=row_id, url=return_url, modal=True) , title=action.title, content=render_icon(action.icon), btn_class="btn btn-sm") }}
  {%- elif action.type == 'delete_row' -%}
    {{ delete_row(action, row_id, row) }}
  {%- endif %}
{% endmacro %}

{% block main %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" href="#">{{ gettext("List") }}
        {% if count %}({{ count }}){% endif %}
      </a>
    </li>
    {% if view.can_create %}
      <li class="nav-item">
        {%- if view.create_modal -%}
          {{ add_modal_button(url=get_url('.create_view', url=return_url, modal=True) , title=gettext('Create New Record'), content=gettext('Create')) }}
        {% else %}
          <a href="{{ url_for('.create_view', url=return_url) }}" title="{{ gettext('Create New Record') }}" class="nav-link">{{ gettext("Create") }}</a>
        {%- endif -%}
      </li>
    {% endif %}
    {% if view.can_export %}{{ export_options(view.export_types) }}{% endif %}
    {% block model_menu_bar_before_filters %}{% endblock %}
    {% if filter_groups %}<li class="nav-item">{{ filter_options(filter_groups) }}</li>{% endif %}
    {% if view.can_set_page_size %}<li class="nav-item">{{ page_size_form(page_size_url, page_size, view.page_size_options) }}</li>{% endif %}
    {% if actions %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">{{ gettext("With selected") }}</a>
        <div class="dropdown-menu">
          {% for p in actions %}<a class="dropdown-item" href="#" onclick="return listAction.execute('{{ p[0] }}');">{{ gettext(p[1]) }}</a>{% endfor %}
        </div>
      </li>
    {% endif %}
    {% if view.column_searchable_list %}
      <li class="nav-item ml-2">
        <form method="get" action="{{ return_url }}" class="d-flex flex-wrap align-items-center my-2 my-lg-0">
          {% for flt_name, flt_value in filter_args.items() %}<input type="hidden" name="{{ flt_name }}" value="{{ flt_value }}">{% endfor %}
          {% if page_size != default_page_size %}<input type="hidden" name="page_size" value="{{ page_size }}">{% endif %}
          {% for arg_name, arg_value in extra_args.items() %}<input type="hidden" name="{{ arg_name }}" value="{{ arg_value }}">{% endfor %}
          {% if sort_column is not none %}<input type="hidden" name="sort" value="{{ sort_column }}">{% endif %}
          {% if sort_desc %}<input type="hidden" name="desc" value="1">{% endif %}
          <div class="input-group">
            <input class="form-control" type="text" name="search" value="{{ search | default('',true) }}" placeholder="{{ view.search_placeholder() }}">
            <div class="input-group-append">
              {% if search %}
                <span class="input-group-text">
                  <a href="{{ clear_search_url }}" class="align-middle"><span>x</span></a>
                </span>
              {% endif %}
              <button class="btn btn-outline-secondary" type="submit">{{ render_icon('search') }}</button>
            </div>
          </div>
        </form>
      </li>
    {% endif %}
    {% block model_menu_bar_after_filters %}{% endblock %}
  </ul>

  {% if filters %}
    <form id="filter_form" method="get" action="{{ return_url }}">
      {% for arg_name, arg_value in extra_args.items() %}<input type="hidden" name="{{ arg_name }}" value="{{ arg_value }}">{% endfor %}
      {% if sort_column is not none %}<input type="hidden" name="sort" value="{{ sort_column }}">{% endif %}
      {% if sort_desc %}<input type="hidden" name="desc" value="1">{% endif %}
      {% if search %}<input type="hidden" name="search" value="{{ search }}">{% endif %}
      {% if page_size != default_page_size %}<input type="hidden" name="page_size" value="{{ page_size }}">{% endif %}
      <div class="pull-right">
        <button type="submit" class="btn btn-primary d-none">{{ gettext("Apply") }}</button>
        {% if active_filters %}<a href="{{ clear_search_url }}" class="btn btn-secondary">{{ gettext("Reset Filters") }}</a>{% endif %}
      </div>
      <table class="filters">
      </table>
    </form>
  {% endif %}

  {% block list_table %}
    <div class="table-responsive">
      <table class="table table-striped table-bordered table-hover model-list">
        <thead>
          <tr>
            {% block list_header scoped %}
              {% if actions %}
                <th class="list-checkbox-column">
                  <input type="checkbox" name="rowtoggle" class="action-rowtoggle" title="{{ gettext('Select all records') }}" />
                </th>
              {% endif %}
              {% if row_actions %}<th>Operates</th>{% endif %}
              {% for c, name in list_columns %}
                {% set column = loop.index0 %}
                <th class="column-header col-{{ c }}">
                  {% if view.is_sortable(c) %}
                    {% if sort_column == column %}
                      <a href="{{ sort_url(column, True) }}" title="{{ gettext('Sort by %(name)s', name=name) }}">
                        {{ name }}
                        <span>
                          {% if sort_desc %}
                            ↑
                          {% else %}
                            ↓
                          {% endif %}
                        </span>
                      </a>
                    {% else %}
                      <a href="{{ sort_url(column) }}" title="{{ gettext('Sort by %(name)s', name=name) }}">{{ name }}</a>
                    {% endif %}
                  {% else %}
                    {{ name }}
                  {% endif %}
                  {% if view.column_descriptions.get(c) %}<a class="bi-question-circle" title="{{ view.column_descriptions[c] }}" href="#" data-role="tooltip"></a>{% endif %}
                </th>
              {% endfor %}
            {% endblock %}
          </tr>
        </thead>
        {% for row in data %}
          <tr>
            {% block list_row scoped %}
              {% if actions %}
                <td>
                  <input type="checkbox" name="rowid" class="action-checkbox" value="{{ view.get_pk_value(row) }}" title="{{ gettext('Select record') }}" />
                </td>
              {% endif %}
              {% if row_actions %}
                <td class="list-buttons-column">
                  {% for rowaction in row_actions %}{{ render_row_action(rowaction, view.get_pk_value(row) , row) }}{% endfor %}
                </td>
              {%- endif -%}
              {% set list_form = view.list_form(obj=row) if view.column_editable_list else None %}
              {% for c, name in list_columns %}
                <td class="col-{{ c }}">
                  {% set display_value = view.get_list_value(row, c) %}
                  {% if view.is_editable(c) %}
                    {% if list_form.csrf_token %}
                      {{ list_form[c](pk=view.get_pk_value(row) , display_value=display_value, csrf=list_form.csrf_token._value()) }}
                    {% else %}
                      {{ list_form[c](pk=view.get_pk_value(row) , display_value=display_value) }}
                    {% endif %}
                  {% else %}
                    {{ display_value }}
                  {% endif %}
                </td>
              {% endfor %}
            {% endblock %}
          </tr>
        {% else %}
          <tr>
            <td colspan="999">
              {% block empty_list_message %}<div class="text-center">{{ gettext("There are no items in the table.") }}</div>{% endblock %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    {% block list_pager %}
      {% if num_pages is not none %}
        {{ render_pager(page, num_pages, pager_url) }}
      {% else %}
        {{ render_simple_pager(page, data|length == page_size, pager_url) }}
      {% endif %}
    {% endblock %}
  {% endblock %}
  {% if actions %}
    {% set action_form = view.action_form(url=return_url) %}
    <form id="action_form" action="{{ url_for('.action_view') }}" method="post" class="d-none">
      {{ render_form_fields(action_form) }}
    </form>
  {% endif %}
  {% if view.edit_modal or view.create_modal or view.details_modal %}{{ add_modal_window() }}{% endif %}
{% endblock %}

{% block tail %}
  {{ super() }}
  {% if filter_groups %}
    <div id="filter-groups-data" class="d-none">{{ filter_groups|tojson }}</div>
    <div id="active-filters-data" class="d-none">{{ active_filters|tojson }}</div>
  {% endif %}
  {% if actions %}
    <script>
      const actionErrorMessage = "{{ _('Please select at least one record.') }}";
      const actionsData = {{ actions | tojson }};
      let listAction;
      document.addEventListener("DOMContentLoaded",()=>{
          listAction = new ListAction(actionErrorMessage, actionsData);
      });
    </script>
  {% endif %}
{% endblock %}
