{% macro add_modal_button(url="", title="", content="", modal_window_id="fa_modal_window", btn_class="btn btn-primary") %}
  <button class="{{ btn_class }}" data-bs-target="#{{ modal_window_id }}" data-bs-toggle="modal" data-href="{{ url }}" title="{{ title }}" type="button">{{ content }}</button>
{% endmacro %}

{% macro add_modal_window(modal_window_id="fa_modal_window") %}
  <div id="{{ modal_window_id }}" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
      <div class="modal-content"></div>
    </div>
  </div>
{% endmacro %}
