{% macro form_css() %}
  <link href="{{ url_for('template.static',filename='vendor/select2/select2.css') }}" rel="stylesheet">
  <link href="{{ url_for('template.static',filename='vendor/select2/select2-bootstrap4.css') }}" rel="stylesheet">
  <link href="{{ url_for('template.static',filename='vendor/bootstrap-daterangepicker/daterangepicker-bs4.css') }}" rel="stylesheet">
  {% if config.FLASK_EXTS_MAPS %}
  <link href="{{ url_for('template.static',filename='vendor/leaflet/leaflet.css') }}" rel="stylesheet">
  <link href="{{ url_for('template.static',filename='vendor/leaflet/leaflet.draw.css') }}" rel="stylesheet">
  {% endif %}
  {% if editable_columns %}
  <link href="{{ url_for('template.static',filename='vendor/x-editable/css/bootstrap4-editable.css') }}" rel="stylesheet">
  {% endif %}
{% endmacro %}

{% macro form_js() %}
  {% if config.FLASK_EXTS_MAPS %}
  <script>
  window.FLASK_EXTS_MAPS = true;
  window.FLASK_EXTS_MAPBOX_MAP_ID = "{{ config.FLASK_EXTS_MAPBOX_MAP_ID }}";
  {% if config.FLASK_EXTS_MAPBOX_ACCESS_TOKEN %}
  window.FLASK_EXTS_MAPBOX_ACCESS_TOKEN = "{{ config.FLASK_EXTS_MAPBOX_ACCESS_TOKEN }}";
  {% endif %}
  {% if config.FLASK_EXTS_DEFAULT_CENTER_LAT and config.FLASK_EXTS_DEFAULT_CENTER_LONG %}
  window.FLASK_EXTS_DEFAULT_CENTER_LAT = "{{ config.FLASK_EXTS_DEFAULT_CENTER_LAT }}";
  window.FLASK_EXTS_DEFAULT_CENTER_LONG = "{{ config.FLASK_EXTS_DEFAULT_CENTER_LONG }}";
  {% endif %}
  </script>
  <script src="{{ url_for('template.static',filename='vendor/leaflet/leaflet.js') }}"></script>
  <script src="{{ url_for('template.static',filename='vendor/leaflet/leaflet.draw.js') }}"></script>
  {% if config.FLASK_EXTS_MAPS_SEARCH %}
  <script>
  window.FLASK_EXTS_MAPS_SEARCH = "{{ config.FLASK_EXTS_MAPS_SEARCH }}";
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key={{ config.get('FLASK_EXTS_GOOGLE_MAPS_API_KEY') }}"></script>
  {% endif %}
  {% endif %}
  <script src="{{ url_for('template.static',filename='vendor/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
  {% if editable_columns %}
  <script src="{{ url_for('template.static',filename='vendor/x-editable/js/bootstrap4-editable.min.js') }}"></script>
  {% endif %}
  <script src="{{ url_for('template.static',filename='admin/js/form.js') }}"></script>
{% endmacro %}



