{% extends "admin/master.html" %}
{% from "macro/form.html" import render_form %}

{% block main %}
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" href="{{ return_url }}">{{ gettext("List") }}</a>
    </li>
    {% if view.can_create %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('.create_view', url=return_url) }}">{{ gettext("Create") }}</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link active" href="#">{{ gettext("Edit") }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{{ url_for('.details_view', id=request.args.get('id') , url=return_url) }}">{{ gettext("Details") }}</a>
    </li>
  </ul>
  {{ render_form(form,form_opts=form_opts) }}
{% endblock %}
